.header_logo__ {
  width: 170px;
  display: block;
  position: relative;
  z-index: 1;
  margin-inline-end: 30px;

  @include sm {
    width: 140px;
    margin: 0;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}
