// nav-om -large sizes
.nav-om {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  .close-button__,
  .nav_logo__ {
    display: none;
  }

  .nav-list-om {
    display: flex;
    margin-bottom: 0;
    margin-inline-end: 78px;

    @include md {
      margin-inline-end: 40px;
    }

    > li {
      &:not(:last-child) {
        margin-inline-end: 33px;

        @include md {
          margin-inline-end: 15px;
        }
      }

      > a {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.5s;
        padding: 10px 0;
        position: relative;
        display: block;

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}

// nav-om  sm - xs size
@include sm {
  .nav-om {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    z-index: 1111;
    padding: 20px;
    transition: 0.5s;
    overflow-y: auto;
    display: block;
    padding-top: 90px;
    background-color: $secondaryColor;

    .nav_logo__ {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 40px;
      max-width: 150px;

      img {
        max-width: 100%;
        filter: brightness(0) invert(1);
      }
    }

    .close-button__ {
      display: block;
    }

    .bavbar-logo-om {
      display: flex;
      max-width: 100%;
      justify-content: center;
      margin-bottom: 50px;
      filter: brightness(0) invert(1);

      img {
        max-width: 100%;
      }
    }

    @include dir {
      left: -100%;
      right: unset;
    }

    &.active-menu {
      right: 0;

      @include dir {
        left: 0;
        right: unset;
      }
    }

    .nav-list-om {
      display: block;
      order: 3;
      width: 100%;
      margin: 0;

      @include dir {
        margin: 0;
      }

      > li {
        margin-inline-end: 0;

        &:not(:last-child) {
          margin-inline-end: 0;
        }

        > a {
          color: #fff !important;
          padding: 10px 25px;
          display: block;
          margin: 0;

          &::after {
            content: none;
            display: none;
          }

          @include dir {
            margin: 0;
          }

          &:hover {
            background-color: transparent;
          }
        }

        &:nth-child(odd) {
          > a {
            background-color: rgba(#fff, 0.2);
          }
        }
      }
    }
  }
}
