.menu_button__ {
  display: none;

  @include sm {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, 0.1);
    position: relative;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;

    svg {
      width: 20px;
    }
  }
}

.lang__ {
  .lang_link__ {
    .figure__ {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      margin-inline-end: 10px;
    }
  }
}

.toolbar_options__ {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: flex-end;

  @include sm {
    margin-top: 0;
  }

  .block__ {
    &.small_size_only__ {
      display: none;

      @include sm {
        display: block;
      }
    }

    &.larg_size_only__ {
      @include sm {
        display: none;
      }
    }

    &:not(:first-child) {
      margin-inline-start: 20px;

      @include sm {
        margin-inline-start: 4px;
      }
    }
  }
}
