.default_page__ {
  padding-top: 100px;
}

.default_section__ {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row_modify {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }

  &.with_row_gap {
    row-gap: 30px;

    @include xs {
      row-gap: 15px;
    }
  }

  &.with_margin_bottom__ {
    margin-bottom: 30px;
  }

  &.reverse_dir_column_small_size {
    @include sm {
      flex-direction: column-reverse;
    }
  }

  &.justify_between__ {
    justify-content: space-between;
  }
}

.col_start__ {
  align-self: flex-start;
}

.col_center__ {
  align-items: center;
}

.col_flex {
  display: flex;
}
