.hero_section__ {
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  @include xxs {
    padding: 0 20px;
  }

  .hero_content__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include xs {
      flex-direction: column;
      gap: 50px;
    }
  }

  .title__ {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    line-height: 1.231;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 35px;

    @include xs {
      text-align: center;
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  .parag__ {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 60px;

    @include xs {
      text-align: center;
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .block_title__ {
    color: #fff;
    font-style: 18px;
    font-weight: 600;
    margin-bottom: 30px;

    @include xs {
      font-size: 16px;
      text-align: center;
    }
  }

  .links_wrapper__ {
    display: flex;
    align-items: center;
    gap: 20px;
    
    @include xs {
      justify-content: center;
      flex-direction: column;
    }
  }

  .img_wrapper__ {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 50%;

    @include xs {
      max-width: 100%;
    }
  }
}

.terms_and_conditions_block {
  background-color: transparent;
  padding: 25px 25px 33px;

  .section_head,
  .parag_head {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  .section_head {
    margin-bottom: 40px;
    font-size: 22px;
    text-align: center;
  }

  .parag__ {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #fff;
    line-height: 1.8;
  }

  .download_btn__ {
    border: 0;
    outline: 0;
    max-width: 220px;
    height: 56px;
    cursor: pointer;

    svg {
      margin-inline-end: 14px;
    }
  }
}