* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo";
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
  height: 100vh;
  background-image: linear-gradient( 180deg, rgba($secondaryColor , 0.9)  0%, rgba($secondaryColor, 0.8) 52%, rgba($secondaryColor , 0.9) 100% );
  position: relative;

  &::after {
    content: "";
    background-image: url(../images/shapes/background_pattern.svg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.12;
    z-index: -1;
}
}

.overflow-body {
  overflow: hidden;
}

p {
  font-size: 18px;
  color: $paragraphMainColor;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingMainColor;
  margin: 0;
}

ul {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
