.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  .icon__ {
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.main_link {
    height: 56px;
    color: #fff;
    padding: 0 30px;
    background: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.app_download_link__ {
    justify-content: flex-start;
    height: 56px;
    width: fit-content;

    
  &:hover {
    .icon__ {
      transform: scale(1.08);
    }
  }
  }
}
