// Main colors
$primaryColor: #42aae0;
$secondaryColor: #9B6378;
$secondaryColor: #9B6378;

$borderColor: #d9e0e5;
$mainRedColor: #f54748;
$mainBackgroundColor: #f2f3fc;
$borderBreakColor: #d9e0e5;

// Head colors
$headingMainColor: #2a313d;
$headingSecondaryColor: #333743;
$headingThirdColor: #2a2929;

// Paragraph Colors
$paragraphMainColor: #70749c;
$paragraphSecondaryColor: #767676;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 10px;
$secondaryBorderRadius: 20px;

$dir: "ltr";
